<div class="header-panel shadow-z-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3">
                <h1>Rakshaka</h1>
            </div>
            <div class="col-xs-9">
                <button class="btn btn-default add" data-toggle="modal" data-target="#new-account-dialog">New</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid main">
    <div class="row">
        <div class="pages col-xs-12">
            <div class="well page active">
                <h1 class="header">Accounts</h1>
                <div class="bs-component">
                    <div class="panel panel-primary" ng-repeat="item in accounts">
                        <div class="panel-heading">
                            <div>
                                <h3 class="panel-title">{{ item.account.title }}
                                    <a class="right delete" href="javascript:void(0)" ng-click="delete(item.id)">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </a>
                                    <a class="right edit" data-toggle="modal" href="javascript:void(0)"
                                       data-target="#new-account-dialog" ng-click="edit(item)">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p>
                                <strong>Username:</strong> {{ item.account.username }}
                            </p>
                            <p>
                                <strong>Password:</strong> {{ item.account.password }}
                            </p>
                            <p>
                                <strong>Other Information:</strong> {{ item.account.otherInfo }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="new-account-dialog" class="modal fade" tabindex="-1" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">close</i>
                </button>
                <h4 class="modal-title">Add New Account</h4>
            </div>
            <div class="modal-body">
                <div class="inputs">
                    <div class="form-group label-floating is-empty">
                        <label for="i1" class="control-label">Title</label>
                        <input type="text" ng-model="newAccount.title" class="form-control" id="i1">

                        <span class="help-block">Enter account title</span>
                        <span class="material-input"></span>
                    </div>
                    <div class="form-group label-floating is-empty">
                        <label for="i1" class="control-label">Username</label>
                        <input type="text" ng-model="newAccount.username" class="form-control" id="i1">

                        <span class="help-block">Enter Username/Email</span>
                        <span class="material-input"></span>
                    </div>
                    <div class="form-group label-floating is-empty">
                        <label for="i1" class="control-label">Password</label>
                        <input type="text" ng-model="newAccount.password" class="form-control" id="i1">

                        <span class="help-block">Enter password of this account</span>
                        <span class="material-input"></span>
                    </div>
                    <div class="form-group is-empty label-floating">
                        <label for="textArea" class="control-label">Other information</label>
                        <textarea class="form-control" ng-model="newAccount.otherInfo" rows="3"
                                  id="textArea"></textarea>
                        <span class="help-block">Enter other information of this account.</span>
                        <span class="material-input"></span></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning close-modal" data-dismiss="modal" aria-hidden="true">
                    Cancel
                </button>
                <button type="button" class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="save()"
                        ng-disabled="!newAccount.title">Create
                </button>
            </div>
        </div>
    </div>
</div>
