<div class="header-panel shadow-z-2" ng-init="list()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3">
                <h1>Rakshaka</h1>
            </div>
            <div class="col-xs-9">
                <button class="btn btn-default add" data-toggle="modal" data-target="#new-category-dialog">New</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid main">
    <div class="row">
        <div class="pages col-xs-12">
            <div class="well page active">
                <h1 class="header">Categories</h1>
                <div class="bs-component">
                    <div class="panel panel-primary" ng-repeat="item in categories">
                        <div class="panel-heading">
                            <div>
                                <h3 class="panel-title">{{ item.name }}
                                    <a ui-sref="accounts({categoryId: item.id, masterPassword: masterPassword})"
                                       class="right list">
                                        <i class="glyphicon glyphicon-list"></i>
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="panel-body">
                            {{ item.description }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="new-category-dialog" class="modal fade" tabindex="-1" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">close</i>
                </button>
                <h4 class="modal-title">Create New Category</h4>
            </div>
            <div class="modal-body">
                <div class="inputs">
                    <div class="form-group label-floating is-empty">
                        <label for="i1" class="control-label">Name</label>
                        <input type="text" ng-model="newCategory.name" class="form-control" id="i1">

                        <span class="help-block">Enter category name</span>
                        <span class="material-input"></span>
                    </div>
                    <div class="form-group is-empty label-floating">
                        <label for="textArea" class="control-label">Description</label>
                        <textarea class="form-control" ng-model="newCategory.description" rows="3"
                                  id="textArea"></textarea>
                        <span class="help-block">Enter description of this category</span>
                        <span class="material-input"></span></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning close-modal" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="add()" ng-disabled="!newCategory.name">Create</button>
            </div>
        </div>
    </div>
</div>
