<div class="header-panel shadow-z-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3">
                <h1>Rakshaka</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid main">
    <div class="row">
        <div class="pages col-xs-12">
            <div class="well page active">
                <h1 class="header">Create Vault</h1>
                <div class="inputs">
                    <div class="form-group label-floating is-empty">
                        <label for="i1" class="control-label">Master Password</label>
                        <input type="password" ng-model="masterPassword" class="form-control" id="i1">

                        <span class="help-block">Set Master password to lock vault.</span>
                        <span class="material-input"></span>
                    </div>
                    <div class="form-group label-floating is-empty"
                         ng-class="{'has-error': masterPassword != confirmMasterPassword}">
                        <label for="i2" class="control-label">Confirm Master Password</label>
                        <input type="password" ng-model="confirmMasterPassword" class="form-control" id="i2">

                        <span class="help-block">Confirm the same.</span>
                        <span class="material-input"></span>
                    </div>
                </div>
                <div class="bs-component">
                    <a href="javascript:void(0)" class="btn btn-success btn-lg btn-block btn-raised"
                       ng-click="create(masterPassword)"
                       ng-class="{'disabled': masterPassword != confirmMasterPassword}">Create</a>
                </div>
            </div>
        </div>
    </div>
</div>
