<div class="header-panel shadow-z-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3">
                <h1>Rakshaka</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid main">
    <div class="row">
        <div class="pages col-xs-12">
            <div class="well page active">
                <form>
                    <h1 class="header">Signin</h1>
                    <fieldset>
                        <div class="inputs">
                            <div class="form-group label-floating is-empty">
                                <label for="inputEmail" class="control-label">Email</label>
                                <input type="email" class="form-control" id="inputEmail"
                                       ng-model="username" required>
                                <span class="help-block">Email of firebase account</span>
                                <span class="material-input"></span>
                            </div>
                            <div class="form-group label-floating is-empty">
                                <label for="inputPassword" class="control-label">Password</label>

                                <input type="password" class="form-control" id="inputPassword"
                                       ng-model="password">
                                <span class="help-block">Password of firebase account</span>
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="bs-component" style="margin-bottom: 15px;">
                            <div class="btn-group btn-group-justified btn-group-raised">
                                <a href="javascript:void(0)" class="btn btn-warning"
                                   ng-click="register(username, password)"
                                   ng-class="{'disabled': !username || !password}">Register
                                </a>
                                <a href="javascript:void(0)" class="btn btn-success"
                                   ng-class="{'disabled': !username || !password}"
                                   ng-click="login(username, password)">Login
                                </a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>