<div class="header-panel shadow-z-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3">
                <h1>Rakshaka</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid main">
    <div class="row">
        <div class="pages col-xs-12">
            <div class="well page active">
                <h1 class="header">Unlock Vault</h1>
                <div class="inputs">
                    <div class="form-group label-floating is-empty">
                        <label for="i1" class="control-label"><font><font>Master Password</font></font></label>
                        <input type="password" ng-model="masterpassword" class="form-control" id="i1">

                        <span class="help-block">Enter master password to unlock your vault.</span>
                        <span class="material-input"></span>
                    </div>
                </div>
                <div class="bs-component" style="margin-bottom: 15px;">
                    <div class="btn-group btn-group-justified btn-group-raised">
                        <a href="javascript:void(0)" class="btn btn-warning" ng-click="reset()">Reset</a>
                        <a href="javascript:void(0)" class="btn btn-success"
                           ng-click="unlock(masterpassword)">Unlock</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>