/* Empty. Add your own CSS if you like */

.header-panel {
    background-color: #009587;
    height: 54px;
    z-index: 3;
}

.header-panel div {
    position: relative;
    height: 100%;
}

.header-panel h1 {
    color: #FFF;
    position: absolute;
    padding-left: 35px;
}

.pages {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    padding: 0;
    overflow: auto;
}

.pages > div {
    padding: 0 5px;
    padding-top: 64px;
}

.pages .header {
    color: rgb(82, 101, 162);
    /*font-size: 24px;*/
    /*font-weight: normal;*/
    /*margin-top: 5px;*/
    /*margin-bottom: 60px;*/
    /*letter-spacing: 1.20000004768372px;*/
}

.page {
    transform: translateY(1080px);
    transition: transform 0 linear;
    display: none;
    opacity: 0;
    font-size: 16px;
}

.page.active {
    transform: translateY(0px);
    transition: all 0.3s ease-out;
    display: block;
    opacity: 1;
}

.row {
    margin-left: 0 !important;
}

.add {
    padding: 0 !important;
    margin: 10px !important;
    font-weight: 900 !important;
    font-size: 20px !important;
    text-transform: none !important;
    float: right;
    color: white !important;
}

.right {
    float: right !important;
}

.modal {
    background-color: transparent !important;
    width: auto !important;
}

.modal-title {
    color: #009587 !important;
}

.close-modal {
    float: left;
}

.delete {
    padding-left: 15px;
    padding-right: 5px;
}

.delete .delete:focus, .delete:hover {
    color: #f44336 !important;
}

.edit {
    padding-left: 5px;
    padding-right: 10px;
}

.edit .edit:focus, .edit:hover {
    color: orange !important;
}

.panel-heading {
    padding: 12px 15px !important;
    color: white !important;
}

.well {
    overflow-y: scroll !important;
    height: 100vh !important;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black url(../img/spinner.gif) center center no-repeat;
    opacity: .5;
    z-index: 1;
}

.pages {
    z-index: 0 !important;
}

.list .list:focus, .list:hover {
    color: orange !important;
}
